# ===== Backend =====
PORT=8080
ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=himatris_oprec
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=86400

STORAGE_PATH=./storage
MAX_CV_SIZE=5242880

FRONTEND_URL=http://localhost:3000

# ===== Frontend =====
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1
